@font-face {
    font-family: "Nirmala UI";
    src: url("../fonts/Nirmala-UI.eot");
    src: url("../fonts/Nirmala-UI.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Nirmala-UI.woff2") format("woff2"),
    url("../fonts/Nirmala-UI.woff") format("woff"),
    url("../fonts/Nirmala-UI.ttf") format("truetype"),
    url("../fonts/Nirmala-UI.otf") format("opentype"),
    url("../fonts/Nirmala-UI.svg#Nirmala-UI") format("svg");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Nirmala UI Bold";
    src: url("../fonts/Nirmala-UI-Bold.eot");
    src: url("../fonts/Nirmala-UI-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Nirmala-UI-Bold.woff2") format("woff2"),
    url("../fonts/Nirmala-UI-Bold.woff") format("woff"),
    url("../fonts/Nirmala-UI-Bold.ttf") format("truetype"),
    url("../fonts/Nirmala-UI-Bold.otf") format("opentype"),
    url("../fonts/Nirmala-UI-Bold.svg#Nirmala-UI-Bold") format("svg");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}